@media all {
    * {
        page-break-before:avoid;
        page-break-after:avoid;
        page-break-inside: avoid;
        font-family: sans-serif;
    }
    table.directory {
        width: 90%;
        margin: auto;
    }

    table.inner-table td {
        padding-top: 2em;
    }
}

@media print {
    table.directory {
        page-break-inside:auto;
    }

    table.directory tr {
        page-break-inside:avoid;
        page-break-after:auto
    }
}
