<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ MEDIA_URL }}site/print.css" />
    <title>{% block title %}Velma Christian Fellowship{% endblock %}</title>
</head>

<body onload="window.print()">
<table class="directory">
    <tr>
    {% for family_info in family_list %}
        {% if forloop.counter0|divisibleby:"2" and not forloop.first %}
    </tr>
    <tr>
        {% endif %}
        <td>
            <table class="inner-table">
            <tr><td>{{ family_info }} </td></tr>
            {% if family_info.address1 != "" %} <tr><td>{{ family_info.address1 }} </td></tr>{% endif %}
            {% if family_info.address2 != "" %} <tr><td>{{ family_info.address2 }} </td></tr>{% endif %}
            {% if family_info.city != "" %} <tr><td>{{ family_info.city }}{% endif %}{% if family_info.state != "" %}, {{ family_info.state }} {% endif %}
            {% if family_info.zip != "" %} {{ family_info.zip }} {% endif %}</td></tr>
            {% if family_info.home_phone != "" %} <tr><td>{{ family_info.home_phone }} </td></tr> {% endif %}
            {% for member_info in family_info.members_with_phones %}
                <tr><td>{{ member_info.phone }}
                {% if family_info.members_with_phones.count > 1 and member_info.first_name != '' %}
                    ({{ member_info.first_name }})
                {% endif %}
                </td></tr>
            {% endfor %}
            {% for member_info in family_info.members_with_email %}
                <tr><td>{{ member_info.email }}
                {% if family_info.members_with_email.count > 1  and member_info.first_name != '' %}
                    ({{ member_info.first_name }})
                {% endif %}
                </td></tr>
            {% endfor %}
            </table>
        </td>
    {% endfor %}
    </tr>
</table>
</body>
</html>