{% extends "base.html" %}
{% load append_to_get %}
{% block title %}Church Directory{% endblock %}

{% block content %}
    <div id="data_browse">
    <form action="." method="GET" id="search">
        <label for="q">Search All: </label>
        <input type="text" name="q" class="field" value="{{ search_string|escape }}">
        <input type="submit" value="Go">
    </form>
    <table>
        <thead>
            <tr>
                <th>Family</th>
                <th>Address</th>
                <th>Phone Numbers</th>
                <th>E-mail</th>
            </tr>
        </thead>

        {% for family_info in family_list.object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>{{ family_info }}</td>
            <td>
                {% if family_info.address1 != "" %} {{ family_info.address1 }} </br>{% endif %}
                {% if family_info.address2 != "" %} {{ family_info.address2 }} </br>{% endif %}
                {% if family_info.city != "" %} {{ family_info.city }}{% endif %}
                {% if family_info.state != "" %}, {{ family_info.state }} {% endif %}
                {% if family_info.zip != "" %} {{ family_info.zip }} {% endif %}
            </td>
            <td>
                {% for member_info in family_info.members_with_phones %}
                    {{ member_info.phone }}
                    {% if family_info.members_with_phones.count > 1 and member_info.first_name != '' %}
                        ({{ member_info.first_name }}) </br>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for member_info in family_info.members_with_email %}
                    {{ member_info.email }}
                    {% if family_info.members_with_email.count > 1  and member_info.first_name != '' %}
                        ({{ member_info.first_name }}) </br>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if family_list.has_previous %}
                <a href="{% append_to_get page=family_list.previous_page_number %}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ family_list.number }} of {{ family_list.paginator.num_pages }}.
            </span>

            {% if family_list.has_next %}

                <a href="{% append_to_get page=family_list.next_page_number %}">Next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
